@page "/"
@inject NavigationManager Navigation

<div class="welcome-text">
    <h2>Egg & Carbs Timer</h2>
</div>

<div class="home-buttons">
    <div class="home-button-row">
        <button @onclick="() => GoToTimer(TimerType.Egg)" class="home-button">
            <img src="images/home/egg.png" alt="Egg Timer">
        </button>

        <button @onclick="() => GoToTimer(TimerType.Rice)" class="home-button">
            <img src="images/home/rice.png" alt="Rice Timer">
        </button>

        <button @onclick="() => GoToTimer(TimerType.Pasta)" class="home-button">
            <img src="images/home/pasta.png" alt="Pasta Timer">
        </button>
        <button @onclick="() => GoToTimer(TimerType.Potatoes)" class="home-button">
            <img src="images/home/potato.png" alt="Potato Timer">
        </button>
    </div>
</div>



@code {
    enum TimerType
    {
        Egg,
        Rice,
        Pasta,
        Potatoes
    };

    private void GoToTimer(TimerType timerType)
    {

        if (timerType == TimerType.Egg)
        {
            Navigation.NavigateTo("/egg-timer");
        }
        else if (timerType == TimerType.Rice)
        {
            Navigation.NavigateTo("/rice-timer");
        }
        else if (timerType == TimerType.Pasta)
        {
            Navigation.NavigateTo("/pasta-timer");
        }
        else if (timerType == TimerType.Potatoes)
        {
            Navigation.NavigateTo("/potato-timer");
        }
        else
        {
            throw new Exception("Unknown timer type");
        }
    }
}
